
{% extends "layout.html" %}

   {% block content %}

   {% if user.is_authenticated %}
  
    <h1>Update Product</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
  
    {% else %}

    <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
        <strong><p>You must login to view this page</p></strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    
    <a href="{% url 'login' %}" class="btn btn-success">Login Here</a>

    {% endif %}
   
   {% endblock content %}
